button.submit {
    transition-property: transform;
    transition-duration: 0.2s;

    font-family: 'Lexend'; 
    font-weight: 500; 
    font-size: large; 
    color: black; 
    text-decoration: none; 
    text-align: center; 
    margin-top: 20px;

    cursor: pointer;

}


button.submit:hover {
    transform: scale(1.2);
}

button.submit:active {
    transform: scale(0.9);
}